<%- include("partials/header.ejs") %>
    <div id="content">
        <div class="container">
            <h1 style="font-size: 2.7em;">TO-DO LIST APPLICATION</h1>
            <h1 style="font-size: 1.2em; text-transform: capitalize;">-By Aditya</h1>
        </div>
    </div>
</body>
</html>